@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F6F9FF;
}

a {
  text-decoration: none;
}

.sidenav .bordered {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg) !important;
}

.bg-purple {
  background-color: #155f37;
}

.offcanvas-header {
  background-color: #155f37;
  font-size: 25px;
  padding: 10px;
}

.breadcrumb-item {
  font-size: 18px;
}

.text-center {
  text-align: center !important;
}

.navbar-brand {
  text-transform: uppercase;
}

@media (min-width:992px) {
  body {
    overflow: auto !important;
  }

  .offcanvas-backdrop::before {
    display: none;
  }

  main {
    margin-left: var(--offcanvas-width);
  }

  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    /* top: var(--topNavbarHeight) !important;
    height: calc(100%- var(--topNavbarHeight)) !important; */
  }
}

.profile-details li {
  display: inline-block;
  list-style: none;
  font-size: 17px;
}

.profile-details>.text-muted {
  width: 120px;
  text-align: end;
}

/*```````````````````````````*/
        /* TABLES */
/*``````````````````````````*/
/* Adjust spacing for DataTable pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0 5px; /* Adds spacing between buttons */
}

/* Ensure table expands fully */
.table {
    width: 100% !important;
}

/* Fix action buttons alignment */
.table td {
    vertical-align: middle;
    text-align: begin; /* Aligns content in the center */
}

/* Ensure action buttons are aligned properly */
.table td .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px; /* Adjusted size */
    height: 35px;
    padding: 5px;
    margin: 3px; /* Increased space between buttons */
}

/* Fix icon size inside the button */
.table td .btn i {
    font-size: 14px;
}
