/*----------------------------------------*/
/*  LARGE DESKTOP 1920px
/*----------------------------------------*/

@media (min-width: 1920px) {
  .container {
    width: 1230px;
    max-width: 1230px;
  }
  .mainmenu ul#nav li:last-child {
    margin-right: 0;
  }
  .mainmenu ul#nav li {
    margin-right: 35px;
  }
}

/*----------------------------------------*/
/*  NORMAL DESKTOP 1201px - 1365px
/*----------------------------------------*/

@media (min-width: 1201px) and (max-width: 1365px) {
  .mainmenu ul.sub-menu {
    width: 250px;
  }
}

/*----------------------------------------*/
/*  NORMAL DESKTOP 992px - 1200px
/*----------------------------------------*/

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
    max-width: 970px;
  }
  .header-logo-menu.stick {
    height: 55px;
  }
  .logo a img {
    width: 100%;
  }
  .mainmenu-area {
    float: right;
    padding: 19px 0 0;
  }
  .mainmenu ul#nav li {
    margin-right: 15px;
  }
  .login-form {
    max-width: 100%;
  }
  .starting-area {
    height: 35vh;
  }
  .class-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .single-class {
    flex: 1 1 45%;
  }
  .class-des > p {
    word-spacing: 1px;
  }
  .faq-area {
    padding: 40px 20px;
  }
  .footer-info {
    text-align: center;
  }
  .footer-logo {
    max-width: 200px;
  }
  .filters-container {
    flex-wrap: wrap;
    gap: 10px;
  }
  .filter-dropdown,
  .search-bar {
    width: 45%;
  }
}

/*----------------------------------------*/
/*  TABLET DESKTOP 768px - 991px
/*----------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
    max-width: 720px;
  }
  .header-logo-menu.stick {
    height: 50px;
  }
  .logo-img {
    max-height: 50px;
  }
  .login-left {
    width: 100%;
    padding: 50px;
  }
  .login-right {
    width: 100%;
  }
  .logo-image {
    max-width: 130%;
  }
  .login-form {
    max-width: 130%;
  }
  .math-verification {
    gap: 5px;
  }
  .starting-area {
    height: 30vh;
  }
  .starting-info h1 {
    font-size: 40px;
  }
  .class-content {
    flex-direction: column;
    gap: 15px;
  }
  .single-class {
    text-align: left;
    padding: 15px;
  }
  .section-title h3 {
    line-height: 30px;
    font-size: 24px;
  }
  .class-area.class-column {
    padding-top: 40px;
  }
  .class-des > p {
    word-spacing: 0;
  }
  .faq-area {
    padding: 30px 10px;
  }
  .section-title h3 {
    font-size: 24px;
  }
  .section-title p {
    font-size: 14px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .filters-container {
    flex-direction: column;
  }
  .filter-dropdown,
  .search-bar {
    width: 100%;
  }
}
/*----------------------------------------*/
/*  TABLET 481px - 767px
/*----------------------------------------*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .login-left {
    width: 100%;
  }
  .login-form {
    max-width: 95%;
    margin: 30px auto;
  }

  .starting-area {
    height: 30vh;
  }
  .starting-info h1 {
    font-size: 35px;
  }
  .class-content {
    flex-direction: column;
    gap: 10px;
  }
  .single-class {
    text-align: left;
    padding: 10px;
  }
  .section-title h3 {
    line-height: 35px;
    font-size: 30px;
  }
  .class-des > p {
    word-spacing: 0;
  }
  .class-area.class-column {
    padding-top: 40px;
  }
  .faq-area {
    padding: 20px 5px;
  }
  .footer-info > span {
    line-height: 25px;
  }
  .footer-container span {
    display: block;
    text-align: center;
  }
  .footer-container .social-links {
    display: block;
    float: none;
    margin-top: 10px;
    text-align: center;
  }
  .footer-container .social-links a:first-child {
    margin-left: 0;
  }
  .social-links {
    margin-left: 0;
    margin-top: 6px;
  }
}

/*----------------------------------------*/
/*  LARGE MOBILE 425px
/*----------------------------------------*/

@media (max-width: 480px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .mobile-menu-area {
    display: block;
  }
  .login-left {
    width: 100%;
    padding: 50px;
  }
  .logo-image {
    margin-top: 50px;
    max-width: 100%;
  }
  .login-container {
    flex-direction: column;
  }
  .login-form {
    max-width: 90%;
    margin: 30px auto;
    margin-top: -50px;
  }
  .starting-area {
    height: 30vh;
  }
  .starting-info h1 {
    font-size: 35px;
  }
  .class-content {
    flex-direction: column;
    gap: 10px;
  }
  .single-class {
    text-align: left;
    padding: 10px;
  }
  .section-title h3 {
    line-height: 35px;
    font-size: 30px;
  }
  .class-des > p {
    word-spacing: 0;
  }
  .class-area.class-column {
    padding-top: 40px;
  }
  .faq-area {
    padding: 20px 5px;
  }
  .footer-info > span {
    line-height: 25px;
  }
  .footer-container span {
    display: block;
    text-align: center;
  }
  .footer-container .social-links {
    display: block;
    float: none;
    margin-top: 10px;
    text-align: center;
  }
  .footer-container .social-links a:first-child {
    margin-left: 0;
  }
  .social-links {
    margin-left: 0;
    margin-top: 6px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
}


/*----------------------------------------*/
/*  MEDIUM MOBILE 375px
/*----------------------------------------*/

@media (max-width: 375px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .navbar-toggler {
    position: absolute;
    top: 27px;
    right: 18px;
  }
  .navbar-collapse {
    position: absolute;
    top: 50px;
    right: 0;
    margin-top: 30px;
    width: 100%;
    background-color: #044128;
    z-index: 9999;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-nav .nav-link {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    margin-top: 0;
    background-color: #044128;
  }
  .navbar-nav .dropdown-item {
    text-align: left;
    padding: 10px 20px;
  }
  .logo-image {
    max-width: 100%;
    padding: 10px;
  }
  .login-form {
    max-width: 90%;
    max-height: 100%;
    margin: 30px auto;
    margin-top: -50px;
  }
}

/*----------------------------------------*/
/*  SMALL MOBILE 320px
/*----------------------------------------*/

@media (max-width: 320px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .navbar-toggler {
    position: absolute;
    top: 25px;
    right: 10px;
  }
  .navbar-collapse {
    position: absolute;
    top: 50px;
    right: 0;
    margin-top: 30px;
    width: 100%;
    background-color: #044128;
    z-index: 9999;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-nav .nav-link {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    margin-top: 0;
    background-color: #044128;
  }
  .navbar-nav .dropdown-item {
    text-align: left;
    padding: 10px 20px;
  }
  .login-form {
    max-width: 90%;
    margin: 30px auto;
  }
  .starting-area {
    height: 25vh;
  }
  .starting-info h1 {
    font-size: 24px;
  }
  .class-content {
    flex-direction: column;
    gap: 10px;
  }
  .single-class {
    text-align: left;
    padding: 10px;
  }
  .section-title h3 {
    line-height: 24px;
    font-size: 20px;
  }
  .faq-area {
    padding: 20px 5px;
  }
  .footer-logo {
    max-width: 100px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
}
