/*----------------------------------------*/
/*  TOASTR CSS
/*----------------------------------------*/
.toast-success {
    background-color: #51a351 !important;
    color: #fff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important;
  }


  .toast-error {
    background-color: #bd362f !important;
    color: #fff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important;
  }


  .toast-warning {
    background-color: #f89406 !important;
    color: #fff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important;
  }


  .toast-info {
    background-color: #2f96b4 !important;
    color: #fff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important;
  }

  .toast-close-button {
    color: #fff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5) !important;
  }
